In [ ]:
import pandas as pd

df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
data = [['a1', 'b1', 'c1'],
        ['a2', 'b2', 'c2'],
        ['a3', 'b3', 'c3']]

df = pd.DataFrame(data)
print(df)

    0   1   2
0  a1  b1  c1
1  a2  b2  c2
2  a3  b3  c3

In [ ]:
df = pd.DataFrame()

isempty = df.empty
print('DataFrame boş mu? :', isempty)

DataFrame boş mu? : True

In [ ]:
df = pd.DataFrame(
	[[21, 72, 67.1],
	[23, 78, 69.5],
	[32, 74, 56.6],
	[52, 54, 76.2]],
	columns=['a', 'b', 'c'])

isempty = df.empty
print('DataFrame boş mu? :', isempty)

DataFrame boş mu? : False

In [ ]:
import numpy as np
import pandas as pd

mydictionary = {'isimler': ['Ali', 'Ahmet', 'Ayşe', 'Fatma'],
	'fizik': [68, 74, 77, 78],
	'kimya': [84, 56, 73, 69],
	'matematik': [78, 88, 82, 87]}

#sözlükten veri çerçevesi oluştur
df_marks = pd.DataFrame(mydictionary)

print(df_marks)

  isimler  fizik  kimya  matematik
0     Ali     68     84         78
1   Ahmet     74     56         88
2    Ayşe     77     73         82
3   Fatma     78     69         87

In [ ]:
import numpy as np
import pandas as pd

mydictionary = {'isimler': ['Ali', 'Ahmet', 'Ayşe', 'Fatma'],
                'ilgili_degerler': [1, 2, 3, 4]}

#sözlükten veri çerçevesi oluştur
df_students = pd.DataFrame(mydictionary)

print(df_students)

  isimler  ilgili_degerler
0     Ali                1
1   Ahmet                2
2    Ayşe                3
3   Fatma                4

In [ ]:
import pandas as pd

#csv'den veri çerçevesi oku
df = pd.read_csv("data.csv")

#veri çerçevesini yazdır
print(df)

   name  physics  chemistry  algebra
0  Somu       68         84       78
1  Kiku       74         56       88
2  Amol       77         73       82
3  Lini       78         69       87

In [ ]:
import pandas as pd

#csv'den veri çerçevesi oku
df = pd.read_csv('data2.csv', delimiter=' ')

#veri çerçevesini yazdır
print(df)

   name  physics  chemistry  algebra
0  Somu       68         84       78
1  Kiku       74         56       88
2  Amol       77         73       82
3  Lini       78         69       87

In [ ]:
# header parametresini belirterek çağırma
# df = pd.read_csv('....csv', header=None)

# names parametresini belirterek çağırma
# df1 = pd.read_csv('....csv', names=list_of_column_names)

# read_csv fonksiyonunu diğer özellikleri için
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [ ]:
import pandas as pd
import numpy as np

#Veri Çerçevesi Oluştur
df = pd.DataFrame(
	[[21, 72, 67.1],
	[23, 78, 69.5],
	[32, 74, 56.6],
	[52, 54, 76.2]],
	columns=['a', 'b', 'c'])

print('Veri Çerçevesi :\n', df)

# Veri Çerçevesinin şekil/boyut (shape) bilgisini al
shape = df.shape
print('\nVeri Çerçevesi Boyutu  :', shape)
print('\nSatır Sayısı :', shape[0])
print('\nSütun Sayısı :', shape[1])

Veri Çerçevesi :
     a   b     c
0  21  72  67.1
1  23  78  69.5
2  32  74  56.6
3  52  54  76.2

Veri Çerçevesi Boyutu  : (4, 3)

Satır Sayısı : 4

Sütun Sayısı : 3

In [ ]:
import pandas as pd
import numpy as np

#Boş Veri Çerçevesi Oluştur
df = pd.DataFrame()

print('Veri Çerçevesi :\n', df)

# Veri Çerçevesinin şekil/boyut (shape) bilgisini al
shape = df.shape
print('\nVeri Çerçevesi Boyutu  :', shape)
print('\nSatır Sayısı :', shape[0])
print('\nSütun Sayısı :', shape[1])

Veri Çerçevesi :
 Empty DataFrame
Columns: []
Index: []

Veri Çerçevesi Boyutu  : (0, 0)

Satır Sayısı : 0

Sütun Sayısı : 0

In [ ]:
import pandas as pd

# Sütunları Aynı Olan Veri Çerçevelerinin Birleştirilmesi

df_1 = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])

df_2 = pd.DataFrame(
	[['Ayşe', 72, 67, 91, 83],
	['Fatma', 78, 69, 87, 92]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])

frames = [df_1, df_2]

# veri çerçevelerini uç uca ekle
df = pd.concat(frames, sort=False)

# veri çerçevesini yazdır
print("df_1\n------\n",df_1)
print("\ndf_2\n------\n",df_2)
print("\ndf\n--------\n",df)

df_1
------
      isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87

df_2
------
     isim  fizik  kimya  matematik  sosyoloji
0   Ayşe     72     67         91         83
1  Fatma     78     69         87         92

df
--------
      isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87
0    Ayşe     72     67         91         83
1   Fatma     78     69         87         92

In [ ]:
import pandas as pd

# Sütunları Aynı Olan Veri Çerçevelerinin Birleştirilmesi

df_1 = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])

df_2 = pd.DataFrame(
	[['Ayşe', 72, 67, 91, 83],
	['Fatma', 78, 69, 87, 92]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])

frames = [df_1, df_2]

# veri çerçevelerini uç uca ekle
df = pd.concat(frames)

# indeks'leri reset'le
df.reset_index(drop=True, inplace=True)

# veri çerçevesini yazdır
print("df_1\n------\n",df_1)
print("\ndf_2\n------\n",df_2)
print("\ndf\n--------\n",df)

df_1
------
      isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87

df_2
------
     isim  fizik  kimya  matematik  sosyoloji
0   Ayşe     72     67         91         83
1  Fatma     78     69         87         92

df
--------
      isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87
3    Ayşe     72     67         91         83
4   Fatma     78     69         87         92

In [ ]:
import pandas as pd

# Sütunları Farklı Olan Veri Çerçevelerinin Birleştirilmesi

df_1 = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])

df_2 = pd.DataFrame(
	[['Ayşe', 72, 67, 91, 83],
	['Fatma', 78, 69, 87, 92]],
	columns=['isim', 'fizik', 'kimya','tarih','sosyoloji'])

frames = [df_1, df_2]

# veri çerçevelerini uç uca ekle
df = pd.concat(frames, sort=False)

# veri çerçevesini yazdır
print("df_1\n------\n",df_1)
print("\ndf_2\n------\n",df_2)
print("\ndf\n--------\n",df)

df_1
------
      isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87

df_2
------
     isim  fizik  kimya  tarih  sosyoloji
0   Ayşe     72     67     91         83
1  Fatma     78     69     87         92

df
--------
      isim  fizik  kimya  matematik  sosyoloji  tarih
0     Ali     68     84       78.0         96    NaN
1   Ahmet     74     56       88.0         85    NaN
2  Mehmet     77     73       82.0         87    NaN
0    Ayşe     72     67        NaN         83   91.0
1   Fatma     78     69        NaN         92   87.0

In [ ]:
import pandas as pd

# Sütunları Farklı Olan Veri Çerçevelerinin Birleştirilmesi

df_1 = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])

df_2 = pd.DataFrame(
	[['Ayşe', 72, 67, 91, 83],
	['Fatma', 78, 69, 87, 92]],
	columns=['isim', 'fizik', 'kimya','tarih','sosyoloji'])

frames = [df_1, df_2]

# veri çerçevelerini uç uca ekle
df = pd.concat(frames, sort=False)

# veri çerçevesini yazdır
print("df_1\n------\n",df_1)
print("\ndf_2\n------\n",df_2)
print("\ndf\n--------\n",df)

df_1
------
      isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87

df_2
------
     isim  fizik  kimya  tarih  sosyoloji
0   Ayşe     72     67     91         83
1  Fatma     78     69     87         92

df
--------
      isim  fizik  kimya  matematik  sosyoloji  tarih
0     Ali     68     84       78.0         96    NaN
1   Ahmet     74     56       88.0         85    NaN
2  Mehmet     77     73       82.0         87    NaN
0    Ayşe     72     67        NaN         83   91.0
1   Fatma     78     69        NaN         92   87.0

In [ ]:
import pandas as pd

# Veri Çerçevesinin Ucuna Ekleme Yapma

df_1 = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])

df_2 = pd.DataFrame(
	[['Ayşe', 72, 67, 91, 83],
	['Fatma', 78, 69, 87, 92]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])

frames = [df_1, df_2]

# veri çerçevelerini uç uca ekle (ignore_index=True)
df = df_1.append(df_2, ignore_index=True)

# veri çerçevesini yazdır
print("df_1\n------\n",df_1)
print("\ndf_2\n------\n",df_2)
print("\ndf\n--------\n",df)

df_1
------
      isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87

df_2
------
     isim  fizik  kimya  matematik  sosyoloji
0   Ayşe     72     67         91         83
1  Fatma     78     69         87         92

df
--------
      isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87
3    Ayşe     72     67         91         83
4   Fatma     78     69         87         92

In [ ]:
import pandas as pd

# Veri Çerçevesinin Ucuna Ekleme Yapma

df_1 = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])

df_2 = pd.DataFrame(
	[['Ayşe', 72, 67, 91, 83],
	['Fatma', 78, 69, 87, 92]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])

frames = [df_1, df_2]

# veri çerçevelerini uç uca ekle (ignore_index=False)
df = df_1.append(df_2, ignore_index=False)

# veri çerçevesini yazdır
print("df_1\n------\n",df_1)
print("\ndf_2\n------\n",df_2)
print("\ndf\n--------\n",df)

df_1
------
      isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87

df_2
------
     isim  fizik  kimya  matematik  sosyoloji
0   Ayşe     72     67         91         83
1  Fatma     78     69         87         92

df
--------
      isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87
0    Ayşe     72     67         91         83
1   Fatma     78     69         87         92

In [ ]:
import pandas as pd

# Sütunları Farklı Olan Veri Çerçevelerinin Uç Uca Eklenmesi

df_1 = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])

df_2 = pd.DataFrame(
	[['Ayşe', 72, 67, 91, 83],
	['Fatma', 78, 69, 87, 92]],
	columns=['isim', 'fizik', 'kimya','tarih','sosyoloji'])

frames = [df_1, df_2]

# veri çerçevelerini uç uca ekle (ignore_index ve sort değerlerine dikkat)
df = df_1.append(df_2, ignore_index=True, sort=True)

# veri çerçevesini yazdır
print("df_1\n------\n",df_1)
print("\ndf_2\n------\n",df_2)
print("\ndf\n--------\n",df)

df_1
------
      isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87

df_2
------
     isim  fizik  kimya  tarih  sosyoloji
0   Ayşe     72     67     91         83
1  Fatma     78     69     87         92

df
--------
    fizik    isim  kimya  matematik  sosyoloji  tarih
0     68     Ali     84       78.0         96    NaN
1     74   Ahmet     56       88.0         85    NaN
2     77  Mehmet     73       82.0         87    NaN
3     72    Ayşe     67        NaN         83   91.0
4     78   Fatma     69        NaN         92   87.0

In [ ]:
import pandas as pd

# Veri Çerçevesi Oluştur
df = pd.DataFrame(
	[[21, 72, 67],
	[23, 78, 62],
	[32, 74, 56],
	[73, 88, 67],
	[32, 74, 56],
	[43, 78, 69],
	[32, 74, 54],
	[52, 54, 76]],
	columns=['a', 'b', 'c'])

# Veri Çerçevesini Yazdır
print(df)

print('\n______________\n')
# Bir Sütunda Sorgu Yap
df1 = df.query('a>50')

# Veri Çerçevesini Yazdır
print(df1)

    a   b   c
0  21  72  67
1  23  78  62
2  32  74  56
3  73  88  67
4  32  74  56
5  43  78  69
6  32  74  54
7  52  54  76

______________

    a   b   c
3  73  88  67
7  52  54  76

In [ ]:
import pandas as pd

# Veri Çerçevesi Oluştur
df = pd.DataFrame(
	[[21, 72, 67],
	[23, 78, 62],
	[32, 74, 56],
	[73, 88, 67],
	[32, 74, 56],
	[43, 78, 69],
	[32, 74, 54],
	[52, 54, 76]],
	columns=['a', 'b', 'c'])

# Veri Çerçevesini Yazdır
print(df)

print('\n______________\n')
# İki Sütunda Sorgu Yap
df1 = df.query('a>50 and c>70')

# Veri Çerçevesini Yazdır
print(df1)

    a   b   c
0  21  72  67
1  23  78  62
2  32  74  56
3  73  88  67
4  32  74  56
5  43  78  69
6  32  74  54
7  52  54  76

______________

    a   b   c
7  52  54  76

In [ ]:

import pandas as pd

# Veri Çerçevesi Oluştur
df = pd.DataFrame(
	[[21, 72, 67],
	[23, 78, 62],
	[32, 74, 56],
	[73, 88, 67],
	[32, 74, 56],
	[43, 78, 69],
	[32, 74, 54],
	[52, 54, 76]],
	columns=['a', 'b', 'c'])

# Veri Çerçevesini Yazdır
print(df)

print('\n______________\n')
# İki Sütunda Sorgu Yap
df1 = df.query('a>50 or c>70')

# Veri Çerçevesini Yazdır
print(df1)

    a   b   c
0  21  72  67
1  23  78  62
2  32  74  56
3  73  88  67
4  32  74  56
5  43  78  69
6  32  74  54
7  52  54  76

______________

    a   b   c
3  73  88  67
7  52  54  76

In [ ]:
import pandas as pd

# Veri Çerçevesi Oluştur
df = pd.DataFrame(
	[[21, 72, 67],
	[23, 78, 62],
	[32, 74, 56],
	[73, 88, 67],
	[32, 74, 56],
	[43, 78, 69],
	[32, 74, 54],
	[52, 54, 76]],
	columns=['a', 'b', 'c'])

# Veri Çerçevesini Yazdır
print(df)

print('\n______________\n')
# İki Sütunda Sorgu Yap; inplace = True olacak şekilde!...
df.query('a>50 or c>70', inplace = True)

# Veri Çerçevesini Yazdır
print(df)

    a   b   c
0  21  72  67
1  23  78  62
2  32  74  56
3  73  88  67
4  32  74  56
5  43  78  69
6  32  74  54
7  52  54  76

______________

    a   b   c
3  73  88  67
7  52  54  76

In [ ]:
import pandas as pd

# Sütunları Farklı Olan Veri Çerçevelerinin Uç Uca Eklenmesi

df_1 = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])
print(df_1)

print('\n______________\n')

df_2 = pd.DataFrame(
	[['Ayşe', 72, 67, 91, 83],
	['Fatma', 78, 69, 87, 92]],
	columns=['isim', 'fizik', 'kimya','tarih','sosyoloji'])
print(df_2)

print('\n______________\n')

frames = [df_1, df_2]

# veri çerçevelerini birleştir
df = pd.concat([df_1, df_2])
# Veri Çerçevesini Yazdır
print(df)

print('\n______________\n')

# indeks'leri reset'le
df.reset_index(drop=True, inplace=True)

# veri çerçevesini yazdır
print(df)

     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87

______________

    isim  fizik  kimya  tarih  sosyoloji
0   Ayşe     72     67     91         83
1  Fatma     78     69     87         92

______________

     isim  fizik  kimya  matematik  sosyoloji  tarih
0     Ali     68     84       78.0         96    NaN
1   Ahmet     74     56       88.0         85    NaN
2  Mehmet     77     73       82.0         87    NaN
0    Ayşe     72     67        NaN         83   91.0
1   Fatma     78     69        NaN         92   87.0

______________

     isim  fizik  kimya  matematik  sosyoloji  tarih
0     Ali     68     84       78.0         96    NaN
1   Ahmet     74     56       88.0         85    NaN
2  Mehmet     77     73       82.0         87    NaN
3    Ayşe     72     67        NaN         83   91.0
4   Fatma     78     69        NaN         92   87.0

In [ ]:
import pandas as pd

# Sütunları Farklı Olan Veri Çerçevelerinin Uç Uca Eklenmesi

df_1 = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])
print(df_1)

print('\n______________\n')

df_2 = pd.DataFrame(
	[['Ayşe', 72, 67, 91, 83],
	['Fatma', 78, 69, 87, 92]],
	columns=['isim', 'fizik', 'kimya','tarih','sosyoloji'])
print(df_2)

print('\n______________\n')

frames = [df_1, df_2]

# veri çerçevelerini birleştirirken indeks'leri reset'le
df = pd.concat([df_1, df_2], ignore_index=True)

# veri çerçevesini yazdır
print(df)

     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87

______________

    isim  fizik  kimya  tarih  sosyoloji
0   Ayşe     72     67     91         83
1  Fatma     78     69     87         92

______________

     isim  fizik  kimya  matematik  sosyoloji  tarih
0     Ali     68     84       78.0         96    NaN
1   Ahmet     74     56       88.0         85    NaN
2  Mehmet     77     73       82.0         87    NaN
3    Ayşe     72     67        NaN         83   91.0
4   Fatma     78     69        NaN         92   87.0

In [ ]:

import pandas as pd

df_marks = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])
print(df_marks)

print('\n______________\n')

# Excel Writer nesnesi oluştur
writer = pd.ExcelWriter('ogrenciler_ve_notlar.xlsx')

# Veri Çerçevesini Excel'e yaz
df_marks.to_excel(writer)

# Excel dosyasını kaydet
writer.save()

print('Veri Çerçevesi Excel Dosyasına Başarıyla Yazıldı.')

     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87

______________

Veri Çerçevesi Excel Dosyasına Başarıyla Yazıldı.

In [ ]:
import pandas as pd

df_marks = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])
print(df_marks)

print('\n______________\n')

# Excel Writer nesnesi oluştur
writer = pd.ExcelWriter('ogrenciler_ve_notlar2.xlsx')

# Veri Çerçevesini Excel'de "notlar" isimli sayfaya yaz
df_marks.to_excel(writer, 'notlar')

# Excel dosyasını kaydet
writer.save()

print('Veri Çerçevesi Excel Dosyasına Başarıyla Yazıldı.')

     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87

______________

Veri Çerçevesi Excel Dosyasına Başarıyla Yazıldı.

In [ ]:
import pandas as pd

# Veri Çerçevesinin html olarak biçimlendirilmesi

df_marks = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])
print(df_marks)

print('\n______________\n')

# Veri Çerçevesini html olarak render et
html = df_marks.to_html()
print(html)

     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87

______________

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>isim</th>
      <th>fizik</th>
      <th>kimya</th>
      <th>matematik</th>
      <th>sosyoloji</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Ali</td>
      <td>68</td>
      <td>84</td>
      <td>78</td>
      <td>96</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Ahmet</td>
      <td>74</td>
      <td>56</td>
      <td>88</td>
      <td>85</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mehmet</td>
      <td>77</td>
      <td>73</td>
      <td>82</td>
      <td>87</td>
    </tr>
  </tbody>
</table>

In [ ]:
import pandas as pd

# Veri Çerçevesinin html olarak biçimlendirilmesi

df_marks = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])
print(df_marks)

print('\n______________\n')

# Veri Çerçevesini html olarak render et
html = df_marks.to_html()
print(html)

# Oluşturulan html'i bir dosyaya yaz
text_file = open("index.html", "w")
text_file.write(html)
text_file.close()

     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87

______________

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>isim</th>
      <th>fizik</th>
      <th>kimya</th>
      <th>matematik</th>
      <th>sosyoloji</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Ali</td>
      <td>68</td>
      <td>84</td>
      <td>78</td>
      <td>96</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Ahmet</td>
      <td>74</td>
      <td>56</td>
      <td>88</td>
      <td>85</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mehmet</td>
      <td>77</td>
      <td>73</td>
      <td>82</td>
      <td>87</td>
    </tr>
  </tbody>
</table>

In [ ]:
import pandas as pd

# Veri çerçevesini oluştur
df = pd.DataFrame({'a': [2, 4], 'b': [2, 0]})

# Değerlerin range(1,6) koşulunu sağlayıp sağlamadığını kontrol et
out = df.isin(range(1,6))

print('Veri Çerçevesi\n-----------\n',df)
print('\nDataFrame.isin(range(1,6)) kontrol işleminin sonuçları:\n-----------\n',out)

Veri Çerçevesi
-----------
    a  b
0  2  2
1  4  0

DataFrame.isin(range(1,6)) kontrol işleminin sonuçları:
-----------
       a      b
0  True   True
1  True  False

In [ ]:
import pandas as pd

# Veri Çerçevesinde Ortalamaların Hesaplanması

df_marks = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])
print(df_marks)

print('\n______________\n')

# ortalamaları hesapla
mean = df_marks.mean()
print('\nOrtalamalar\n------')
print(mean)

     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87

______________


Ortalamalar
------
fizik        73.000000
kimya        71.000000
matematik    82.666667
sosyoloji    89.333333
dtype: float64

In [ ]:
import pandas as pd

# Veri Çerçevesinde Ortalamaların Hesaplanması

df_marks = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])
print(df_marks)

print('\n______________\n')

# ortalamaları hesapla; (axis = 0) diyerek
mean = df_marks.mean(axis = 0)
print('\nOrtalamalar\n------')
print(mean)

     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87

______________


Ortalamalar
------
fizik        73.000000
kimya        71.000000
matematik    82.666667
sosyoloji    89.333333
dtype: float64

In [ ]:
import pandas as pd

# Veri Çerçevesinde Ortalamaların Hesaplanması

df_marks = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])
print(df_marks)

print('\n______________\n')

# ortalamaları hesapla; (axis = 1) diyerek
mean = df_marks.mean(axis = 1)
print('\nOrtalamalar\n------')
print(mean)

     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87

______________


Ortalamalar
------
0    81.50
1    75.75
2    79.75
dtype: float64

In [ ]:
import pandas as pd

# Veri Çerçevesinde Ortalamaların Hesaplanması

df_marks = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])
print(df_marks)

print('\n______________\n')

# satırlarda ortalamaları hesapla
mean = df_marks.mean(axis=1)
print('\nOrtalama\n------')
print(mean)

# isimleri ve not ortalamalarını göster
print('\nHer bir öğrenci için ortalama')
print(pd.concat([df_marks['isim'], mean], axis=1))

     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87

______________


Ortalama
------
0    81.50
1    75.75
2    79.75
dtype: float64

Her bir öğrenci için ortalama
     isim      0
0     Ali  81.50
1   Ahmet  75.75
2  Mehmet  79.75

In [ ]:
import pandas as pd

# Veri Çerçevesinde Ortalamaların Hesaplanması

df_marks = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])
print(df_marks)

print('\n______________\n')

# ortalamaların ortalamasını hesapla
mean = df_marks.mean().mean()
print('\nOrtalamaların Ortalaması\n------')
print(mean)

     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87

______________


Ortalamaların Ortalaması
------
79.0

In [ ]:
# yukarıdaki örnekleri mean yerine median ile tekrarla

In [ ]:
# yukarıdaki örnekleri mean yerine max ile tekrarla

In [ ]:
# yukarıdaki örnekleri mean yerine min ile tekrarla

In [ ]:
import pandas as pd

# Veri Çerçevesi oluştur
df = pd.DataFrame({'a': [57, 43, 85], 'b': [92, 30, 66]})

# Sütun seç (Yöntem 1)
a = df.a

print('Seçilen sütun\n---------------\n',a,sep='')
print('\n',type(a),sep='')

Seçilen sütun
---------------
0    57
1    43
2    85
Name: a, dtype: int64

<class 'pandas.core.series.Series'>

In [ ]:
import pandas as pd

# Veri Çerçevesi oluştur
df = pd.DataFrame({'a': [57, 43, 85], 'b': [92, 30, 66]})

# Sütun seç (Yöntem 2)
a = df['a']

print('Seçilen sütun\n---------------\n',a,sep='')
print('\n',type(a),sep='')

Seçilen sütun
---------------
0    57
1    43
2    85
Name: a, dtype: int64

<class 'pandas.core.series.Series'>

In [ ]:
import pandas as pd

# Veri Çerçevesi oluştur
df = pd.DataFrame({'sum': [57, 43, 85], 'b': [92, 30, 66]})

# Sütun seç (sütunun ismi aslında bir Pandas fonksiyon ismi)
a = df.sum

print('Seçilen sütun\n---------------\n',a,sep='')
print('\n',type(a),sep='')

Seçilen sütun
---------------
<bound method DataFrame.sum of    sum   b
0   57  92
1   43  30
2   85  66>

<class 'method'>

In [ ]:
import pandas as pd

# Veri Çerçevesi oluştur
df = pd.DataFrame({'sum': [57, 43, 85], 'b': [92, 30, 66]})

# Sütun seç (sütunun ismi aslında bir Pandas fonksiyon ismi)
a = df['sum']

print('Seçilen sütun\n---------------\n',a,sep='')
print('\n',type(a),sep='')

Seçilen sütun
---------------
0    57
1    43
2    85
Name: sum, dtype: int64

<class 'pandas.core.series.Series'>

In [ ]:

import pandas as pd

# Veri Çerçevesi oluştur
df = pd.DataFrame({'sum a b': [57, 43, 85], 'b': [92, 30, 66]})

# Sütun seç (sütunun ismi boşluk karakteri içeriyor)
a = df.sum a b
# yukarıdaki ifade hata verecek

print('Seçilen sütun\n---------------\n',a,sep='')
print('\n',type(a),sep='')

SyntaxError: invalid syntax (<ipython-input-16-37c350409a3f>, line 7)

In [ ]:
import pandas as pd

# Veri Çerçevesi oluştur
df = pd.DataFrame({'sum a b': [57, 43, 85], 'b': [92, 30, 66]})

# Sütun seç (sütunun ismi boşluk karakteri içeriyor)
a = df['sum a b']
# yukarıdaki ifade hata vermeyecek

print('Seçilen sütun\n---------------\n',a,sep='')
print('\n',type(a),sep='')

Seçilen sütun
---------------
0    57
1    43
2    85
Name: sum a b, dtype: int64

<class 'pandas.core.series.Series'>

In [ ]:
import pandas as pd

# Veri Çerçevesinde Sütun İsimlerinin Değiştirilmesi

df_marks = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])
print('Orijinal Veri Çerçevesi\n------------------------')
print(df_marks)

print('\n______________\n')

# sütunları yeniden isimlendir
df_marks.columns = ['name', 'physics', 'chemistry', 'mathematics', 'sociology']
print('\n\nSütunları Yeniden İsimlendirilmiş Veri Çerçevesi\n------------------------')
print(df_marks)

Orijinal Veri Çerçevesi
------------------------
     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87

______________



Sütunları Yeniden İsimlendirilmiş Veri Çerçevesi
------------------------
     name  physics  chemistry  mathematics  sociology
0     Ali       68         84           78         96
1   Ahmet       74         56           88         85
2  Mehmet       77         73           82         87

In [ ]:
import pandas as pd

# veri çerçevesi oluştur
df = pd.DataFrame(
	[[41, 72, 67, 91],
	[21, 78, 69, 87],
	[95, 74, 56, 88],
	[54, 54, 76, 78]],
	columns=['a', 'b', 'c', 'd'])
print(df)

print('\n______________\n')

# bir sütunun ismini değiştir
df.rename(columns={'b': 'k'}, inplace=True)

print(df)

    a   b   c   d
0  41  72  67  91
1  21  78  69  87
2  95  74  56  88
3  54  54  76  78

______________

    a   k   c   d
0  41  72  67  91
1  21  78  69  87
2  95  74  56  88
3  54  54  76  78

In [ ]:
import pandas as pd

# veri çerçevesi oluştur
df = pd.DataFrame(
	[[41, 72, 67, 91],
	[21, 78, 69, 87],
	[95, 74, 56, 88],
	[54, 54, 76, 78]],
	columns=['a', 'b', 'c', 'd'])
print(df)

print('\n______________\n')

# iki sütunun ismini değiştir
df.rename(columns={'b': 'k', 'c': 'm'}, inplace=True)

print(df)

    a   b   c   d
0  41  72  67  91
1  21  78  69  87
2  95  74  56  88
3  54  54  76  78

______________

    a   k   m   d
0  41  72  67  91
1  21  78  69  87
2  95  74  56  88
3  54  54  76  78

In [ ]:
import pandas as pd

# Veri Çerçevesinde Sıralama

df_marks = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])
print('Orijinal Veri Çerçevesi\n------------------------')
print(df_marks)

print('\n')

# veri çerçevesini sırala
sorted_df = df_marks.sort_values(by='matematik')
print('Sıralanmış Veri Çerçevesi\n------------------------')
print(sorted_df)

Orijinal Veri Çerçevesi
------------------------
     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87


Sıralanmış Veri Çerçevesi
------------------------
     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
2  Mehmet     77     73         82         87
1   Ahmet     74     56         88         85

In [ ]:

import pandas as pd

# Veri Çerçevesinde Sıralama

df_marks = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])
print('Orijinal Veri Çerçevesi\n------------------------')
print(df_marks)

print('\n')

# veri çerçevesini sırala
sorted_df = df_marks.sort_values(by='matematik', ascending=False)
print('Sıralanmış Veri Çerçevesi\n------------------------')
print(sorted_df)

Orijinal Veri Çerçevesi
------------------------
     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87


Sıralanmış Veri Çerçevesi
------------------------
     isim  fizik  kimya  matematik  sosyoloji
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87
0     Ali     68     84         78         96

In [ ]:
import pandas as pd

# Veri Çerçevesinde Sütun Ekleme

df_marks = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])
print('Orijinal Veri Çerçevesi\n------------------------')
print(df_marks)

print('\n')

# veri çerçevesine sütun ekle
df_marks['coğrafya'] = [81, 92, 67]
print('\n\nVeri Çerçevesine "coğrafya" sütunu eklendikten sonra\n--------------')
print(df_marks)

Orijinal Veri Çerçevesi
------------------------
     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87




Veri Çerçevesine "coğrafya" sütunu eklendikten sonra
--------------
     isim  fizik  kimya  matematik  sosyoloji  coğrafya
0     Ali     68     84         78         96        81
1   Ahmet     74     56         88         85        92
2  Mehmet     77     73         82         87        67

In [ ]:
import pandas as pd

# Veri Çerçevesinde Sütun Ekleme

df_marks = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])
print('Orijinal Veri Çerçevesi\n------------------------')
print(df_marks)

print('\n')

# veri çerçevesine sütun ekle (tüm değerler aynı olacak şekilde)
df_marks['coğrafya'] = 'NaN'
print('\n\nVeri Çerçevesine "coğrafya" sütunu eklendikten sonra\n--------------')
print(df_marks)

Orijinal Veri Çerçevesi
------------------------
     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87




Veri Çerçevesine "coğrafya" sütunu eklendikten sonra
--------------
     isim  fizik  kimya  matematik  sosyoloji coğrafya
0     Ali     68     84         78         96      NaN
1   Ahmet     74     56         88         85      NaN
2  Mehmet     77     73         82         87      NaN

In [ ]:
import pandas as pd

# Veri Çerçevesinden Sütun Silme

df_marks = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])
print('Orijinal Veri Çerçevesi\n------------------------')
print(df_marks)

print('\n')

# veri çerçevesinden sütun sil
del df_marks['kimya']
print('\n\nVeri Çerçevesinden "kimya" sütunu silindikten sonra\n--------------')
print(df_marks)

Orijinal Veri Çerçevesi
------------------------
     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87




Veri Çerçevesinden "kimya" sütunu silindikten sonra
--------------
     isim  fizik  matematik  sosyoloji
0     Ali     68         78         96
1   Ahmet     74         88         85
2  Mehmet     77         82         87

In [ ]:
import pandas as pd

# Veri Çerçevesinden Sütun Silme

df_marks = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])
print('Orijinal Veri Çerçevesi\n------------------------')
print(df_marks)

print('\n')

# veri çerçevesinden sütun sil
df_marks.pop('kimya')
print('\n\nVeri Çerçevesinden "kimya" sütunu silindikten sonra\n--------------')
print(df_marks)

Orijinal Veri Çerçevesi
------------------------
     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87




Veri Çerçevesinden "kimya" sütunu silindikten sonra
--------------
     isim  fizik  matematik  sosyoloji
0     Ali     68         78         96
1   Ahmet     74         88         85
2  Mehmet     77         82         87

In [ ]:
import pandas as pd

# Veri Çerçevesinden Sütun Silme

df_marks = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])
print('Orijinal Veri Çerçevesi\n------------------------')
print(df_marks)

print('\n')

# veri çerçevesinden sütun sil
df_marks = df_marks.drop(['kimya'], axis=1)
print('\n\nVeri Çerçevesinden "kimya" sütunu silindikten sonra\n--------------')
print(df_marks)

Orijinal Veri Çerçevesi
------------------------
     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87




Veri Çerçevesinden "kimya" sütunu silindikten sonra
--------------
     isim  fizik  matematik  sosyoloji
0     Ali     68         78         96
1   Ahmet     74         88         85
2  Mehmet     77         82         87

In [ ]:
import pandas as pd

# Veri Çerçevesinden Sütun Silme

df_marks = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])
print('Orijinal Veri Çerçevesi\n------------------------')
print(df_marks)

print('\n')

# veri çerçevesinden iki sütun sil
df_marks = df_marks.drop(['kimya', 'matematik'], axis=1)
print('\n\nVeri Çerçevesinden "kimya" ve "matematik" sütunları silindikten sonra\n--------------')
print(df_marks)

Orijinal Veri Çerçevesi
------------------------
     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87




Veri Çerçevesinden "kimya" ve "matematik" sütunları silindikten sonra
--------------
     isim  fizik  sosyoloji
0     Ali     68         96
1   Ahmet     74         85
2  Mehmet     77         87

In [ ]:
import pandas as pd

# Veri Çerçevesi Oluştur
df = pd.DataFrame(
	[[21, 'Ali', 72, 67],
	[23, 'Ayşe', 78, 69],
	[32, 'Fatma', 74, 56],
	[52, 'Murat', 54, 76]],
	columns=['ogrenci_no', 'isim', 'fizik', 'kimya'])

print('Varsayılan İndeks Değeri ile Veri Çerçevesi\n', df)

# Bir sütunun değerlerinin indeks olarak belirlenmesi
df = df.set_index('ogrenci_no')
print(df)

Varsayılan İndeks Değeri ile Veri Çerçevesi
    ogrenci_no   isim  fizik  kimya
0          21    Ali     72     67
1          23   Ayşe     78     69
2          32  Fatma     74     56
3          52  Murat     54     76
             isim  fizik  kimya
ogrenci_no
21            Ali     72     67
23           Ayşe     78     69
32          Fatma     74     56
52          Murat     54     76

In [ ]:
import pandas as pd

# Veri Çerçevesi Oluştur
df = pd.DataFrame(
	[[21, 'Ali', 72, 67],
	[23, 'Ayşe', 78, 69],
	[32, 'Fatma', 74, 56],
	[52, 'Murat', 54, 76]],
	columns=['ogrenci_no', 'isim', 'fizik', 'kimya'])

print('Varsayılan İndeks Değeri ile Veri Çerçevesi\n', df)

# Birden fazla sütunun değerlerinin indeks olarak belirlenmesi
df = df.set_index(['ogrenci_no', 'isim'])
print('----------------')
print(df)

Varsayılan İndeks Değeri ile Veri Çerçevesi
    ogrenci_no   isim  fizik  kimya
0          21    Ali     72     67
1          23   Ayşe     78     69
2          32  Fatma     74     56
3          52  Murat     54     76
----------------
                  fizik  kimya
ogrenci_no isim
21         Ali       72     67
23         Ayşe      78     69
32         Fatma     74     56
52         Murat     54     76

In [ ]:
import pandas as pd

# veri çerçevesi oluştur
df_marks = pd.DataFrame({
    'isim': ['elma', 'muz', 'portakal', 'mango'],
	'kalori': [68, 74, 77, 78]})

# her bir satırda gez
for index, row in df_marks.iterrows():
    print(index, ': ', row['isim'], 'meyvesinde', row['kalori'], 'kalori vardır.')

0 :  elma meyvesinde 68 kalori vardır.
1 :  muz meyvesinde 74 kalori vardır.
2 :  portakal meyvesinde 77 kalori vardır.
3 :  mango meyvesinde 78 kalori vardır.

In [ ]:
import pandas as pd

# veri çerçevesi oluştur
df_marks = pd.DataFrame({
    'isim': ['elma', 'muz', 'portakal', 'mango'],
	'kalori': [68, 74, 77, 78]})

# her bir satırda gez
for index, row in df_marks.iterrows():
    print(row['isim'], 'meyvesinde', row['kalori'], 'kalori vardır.')

elma meyvesinde 68 kalori vardır.
muz meyvesinde 74 kalori vardır.
portakal meyvesinde 77 kalori vardır.
mango meyvesinde 78 kalori vardır.

In [ ]:
import pandas as pd

# Veri Çerçevesine Satır Ekleme

df_marks = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])
print('Orijinal Veri Çerçevesi\n------------------------')
print(df_marks)

print('\n')

new_row = {'isim':'Celal', 'fizik':87, 'kimya':92, 'matematik':97, 'sosyoloji':55}
# satır eklie
df_marks = df_marks.append(new_row, ignore_index=True)

print('\n\nSatır Eklenmiş Veri Çerçevesi\n--------------------------')
print(df_marks)

Orijinal Veri Çerçevesi
------------------------
     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87




Satır Eklenmiş Veri Çerçevesi
--------------------------
     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87
3   Celal     87     92         97         55

In [ ]:
import pandas as pd

# Veri Çerçevesine Satır Ekleme

df_marks = pd.DataFrame(
	[['Ali', 68, 84, 78, 96],
	['Ahmet', 74, 56, 88, 85],
	['Mehmet', 77, 73, 82, 87]],
	columns=['isim', 'fizik', 'kimya','matematik','sosyoloji'])
print('Orijinal Veri Çerçevesi\n------------------------')
print(df_marks)

print('\n')

new_row = {'isim':'Celal', 'fizik':87, 'kimya':92, 'matematik':97, 'sosyoloji':55}
# satır eklie
df_marks = df_marks.append(new_row, ignore_index=False)
# yukarıdaki ifadenin hata vermesini bekliyoruz!....

print('\n\nSatır Eklenmiş Veri Çerçevesi\n--------------------------')
print(df_marks)

Orijinal Veri Çerçevesi
------------------------
     isim  fizik  kimya  matematik  sosyoloji
0     Ali     68     84         78         96
1   Ahmet     74     56         88         85
2  Mehmet     77     73         82         87

TypeError: Can only append a dict if ignore_index=True

In [ ]:
import pandas as pd

#i Veri Çerçevesi
df = pd.DataFrame(
	[[21, 72, 67],
	[23, 78, 69],
	[32, 74, 56],
	[52, 54, 76]],
	columns=['a', 'b', 'c'])

print('Veri Çerçevesi\n----------\n', df)

# Veri Çerçevesini to Numpy array'e dönüştür
arr = df.to_numpy()

print('\nİlgili Numpy Array\n----------\n', arr)

Veri Çerçevesi
----------
     a   b   c
0  21  72  67
1  23  78  69
2  32  74  56
3  52  54  76

İlgili Numpy Array
----------
 [[21 72 67]
 [23 78 69]
 [32 74 56]
 [52 54 76]]

In [ ]:
# Küme Kesişim ve Fark Egzersizi - Ödev Sorusu (11.01.2023)

birinci_kume = {23, 42, 65, 57, 78, 83, 29}
ikinci_kume = {57, 42, 29, 67, 73, 43, 48}

print("Birinci Küme ", birinci_kume)
print("İkinci Küme ", ikinci_kume)

intersection = birinci_kume.intersection(ikinci_kume)
print("Kesişim: ", intersection)
for item in intersection:
    birinci_kume.remove(item)
    ikinci_kume.remove(item)

print("Ortak Elemanlar Çıkarıldıktan Sonra Birinci Küme: ", birinci_kume)
print("Ortak Elemanlar Çıkarıldıktan Sonra İkinci Küme: ", ikinci_kume)

Birinci Küme  {65, 42, 78, 83, 23, 57, 29}
İkinci Küme  {67, 73, 42, 43, 48, 57, 29}
Kesişim:  {57, 42, 29}
Ortak Elemanlar Çıkarıldıktan Sonra Birinci Küme:  {65, 78, 83, 23}
Ortak Elemanlar Çıkarıldıktan Sonra İkinci Küme:  {67, 73, 43, 48}